.nav {
  display: grid;
  gap: 50px;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 100px;
  position: fixed;
  width: 100vw;

  img {
    height: 35px;
    align-self: center;
    justify-self: center;
    position: fixed;
    right: 80px;
    cursor: pointer;
  }

  .first {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .last {
    grid-column-start: 3;
    grid-column-end: 4;
  }

}
